<div style="text-align:center">
  <h1 class="app-title">Welcome to <br /></h1>
  <img
    width="200"
    alt="Angular Logo"
    src="https://lh3.googleusercontent.com/Vf2O0nbypo94CZWCMYVEUyqAp2C3ahxuY7vb0veLrxhZAsT_vx0KawWKP5H8npxU5blfcDCX0Szw0tw39VrC5lWiwXhVWL6XFYlXgYpUsq3w4sB80C81sT5VouvZQcm0CSacgtQ3oIH0brTW2-WCgygcWUEY6_cB-odVmBtOcJnYn5px_aSa94rpF0l7Biq3utHiFgncTRu2Be_dY_V2bEfwjSGidEMI4EKy2IS3h8MiMyL4xrKe9wylNTW-MrO4sZ01cKDotIRdagCFKICIsE4yy804Kxkm9uJFAL__e44Ed20E3HVN3REtTFWyLsUYzh1g1mF3C4x9mOy8kMsI1oXFDkhzsFy0InKj-JFNWbELiPjOGf2lThobkywtKEezcMRCXTAaoqzG0B8bVfP_R5XuFEoO557qat3TEK3RvnQILx23ZwSRlUj3JI_8qzKcmRyC9j-9SDBRuWrS0rzixlkxJrDyzhJBxBu4idPxrpD2eCLf_rQh6OIIRak5C8yzvaUzXRTGLzHbS_tD03_mxCE0T3985bDOcyghTY7KEuGsVRqSfEIRkW_zQjcg97cYeYH29Mb5Mrqa3hSFwbJ4167uJU7PihiXcaq-CznhzjiZRmMgBaeQUHKJY0oA0KmM_00itqPCaKCDcd-FVydAgZyy-tHRVLg=w978-h867-no"
  />
</div>

<app-category
  [category]="category"
  *ngFor="let category of categories"
></app-category>
