<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="app-title">
    Welcome to <br>
    {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://pbs.twimg.com/profile_images/970874756269473792/mHYglC0Y_400x400.jpg">
</div>

<ul>
  <li>
    <h2>Action Movies </h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=o6Fk7bD7TVw">New Action Movies 2019</a></h2>
  </li>
  <li>
    <h2>Childering Movies </h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=Nz18QfdLXfM">The Lone Dinosaur Returns</a></h2>
  </li>
  <li>
    <h2>Comedy movies </h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=pjqONTXvo2o">Romantic Comedy Movies
        2019</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>