<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
  <img
    width="4q00"
    alt="Angular Logo"
    src="https://pl.scdn.co/images/pl/default/c357dd2fe1a28d3b790d9e6d2458c603855838ae"
  />
</div>
<h2>English Movies 2019-2018:</h2>
<ul>
  <li>
    <h2>
      <a
        target="_blank"
        rel="noopener"
        href="https://www.youtube.com/watch?v=le4cUS0myfo"
        >Romantic Comedy Movies 2019
      </a>
    </h2>
  </li>
  <li>
    <h2>
      <a
        target="_blank"
        rel="noopener"
        href="https://www.youtube.com/watch?v=X-ZD4ysxGqw"
        >The Deadly Gift - Crime Action Movies</a
      >
    </h2>
  </li>
  <li>
    <h2>
      <a
        target="_blank"
        rel="noopener"
        href="https://www.youtube.com/watch?v=1drLSMiyOX0"
        >Fighter</a
      >
    </h2>
  </li>
</ul>

<router-outlet></router-outlet>