<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="app-title">Welcome to <br /></h1>
  <img
    width="300"
    alt="Angular Logo"
    src="https://dimamukhin.github.io/ChillFlix/src/ChillFlix_logo.png"
  />
</div>
<br />

<h1>All Movies</h1>

<ul>
  <li>
    <h2>Animal life</h2>
  </li>
  <li>
    <h2>
      <a
        target="_blank"
        rel="noopener"
        href="https://www.youtube.com/watch?v=88-JKzAebLo"
        >Strange Animals of Asia</a
      >
    </h2>
  </li>

  <li>
    <h2>
      <a
        target="_blank"
        rel="noopener"
        href="https://www.youtube.com/watch?v=1jPQu4GNj40"
        >Wild Animals Life</a
      >
    </h2>
  </li>
  <li>
    <h2>Drama Movies</h2>
  </li>
  <li>
    <h2>
      <a
        target="_blank"
        rel="noopener"
        href="https://www.youtube.com/watch?v=0SQApNrajjM"
        >Good Enough (Full Movie) Comedy Drama ❤
      </a>
    </h2>
  </li>
  <li>
    <h2>Comedy Movies</h2>
  </li>
  <li>
    <h2>
      <a
        target="_blank"
        rel="noopener"
        href="https://www.youtube.com/watch?v=pjqONTXvo2o"
        >Romantic Comedy Movies 2019</a
      >
    </h2>
  </li>
</ul>

<router-outlet></router-outlet>
