/* You can add global styles to this file, and also import other style files */
.app-title {
  background-color: black;
  color: red;
}

body {
  background-color: black;
  color: rgb(190, 17, 17);
}
